<!doctype html>

<html>
<head>
 <title>Movie Classification</title>
</head>

<body>
	<h2>Please enter your movie review:</h2>
        <h3>Then, it will give a sentimental analysis:<br>
        positive or negative with it's probability!</h3> 
	{% from "_formhelpers.html" import render_field %}
	<form method=post action="/results">
		<dl>
		{{ render_field(form.moviereview, cols='30', rows='10') }}
		</dl>
		<div>
			<input type=submit value='Submit review' name='submit_btn'>
		</div>
	</form>
</body>

</html>
